<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/public/css/iconmoon.css"> -->
<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.min.css">
<!--
<link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax-highlighter.css">
<link rel="stylesheet" href="{{ site.baseurl }}/public/css/super-search.css">
 -->
<!-- CSS override per page -->
{% if page.style %}
   <style type="text/css">
       {{ page.style }}
   </style>
{% endif %}
