---
layout: default
title: Blog @ example.com
description: "Blogging on ...."
---
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.url }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    {% if post.modified.size > 2 %}<span class="post-date indexpg" itemprop="dateModified" content="{{ post.modified | date: "%Y-%m-%d" }}"><i class="fa fa-edit" title="Última actualización"> {{ post.modified | date_to_string }}</i></span>{% else %}<span class="post-date indexpg" itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}"><i class="fa fa-calendar" title="Publicado"> {{ post.date | date_to_string }}</i></span>  {% endif %}
      {% if post.content contains '<!--break-->' %}
        {{ post.content | split:'<!--break-->' | first }}
        <a href="{{ site.url }}{{ post.url }}" title="Read more"><strong> [Leer mas]</strong></a>
      {% else %}
        {{ post.content | strip_html | truncatewords:75 }}
        <a href="{{ site.url }}{{ post.url }}" title="Read more"><strong> [Leer mas]</strong></a>
      {% endif %}
  </div>
  {% unless forloop.last %}<hr class="transp">{% endunless %}
  {% endfor %}
</div>
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.url }}/blog/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Anteriores</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.url }}/blog/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.url }}/blog/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Nuevos</span>
  {% endif %}
</div>
